
  @import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Fraunces:wght@500;700&family=Montserrat:wght@500;700&family=Noto+Sans+Georgian:wght@400;700&family=Outfit:wght@400;700&display=swap');

  
.container>img{
    width: 250px;
    margin-left: 62px;
    border-radius: 23px;
padding-top: 21px;}

    .gaigeMeti{
       
        font-family: 'Noto Sans Georgian';
        font-weight:bolder;
        font-size: 10px;
        color: #000000;
        padding-top: 25px;

    }

